header {
	background: #6495ED;
	padding: 20px 50px;


}

.caixa {
	position: relative;
	width: 90%;
	margin: auto;

}

nav {
	position: absolute;
	top: 33px;
	right: 0;

}

nav li {
	display: inline;
	margin: 0 0 0 40px;
}

nav a {
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}

.caixa1{
	height: 600px;
	background-size: cover !important;
	background-image: url(	https://img.freepik.com/fotos-premium/fale-conosco…e-para-o-suporte-ao-cliente_36325-1640.jpg?w=2000);
}

.title{
	color: #FFFFFF;
	height: 80vh;
	width: 100%;
	font-size: 3rem;
	font-weight: 700;
	display: flex;
 	align-items: center;
 	position: relative;
 	left: 10px;

}

.contato{
	color: #7a7a7a;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}

main {
	width: 940px;
	margin: 0 auto;
}

form {
	margin: 40px;
}

form label {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
	font-weight: 700;
}

form input{
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.enviar{
	color: #FFFFFF;
	background-color: #00008B;
	padding: 15px 50px 15px 50px;
	border-radius: 50px 50px 50px 50px;
	font-size: 18px;
	font-weight: 700;
	width: 20%;
}

footer {
	background: #00008B;
	padding: 40px 0;

}

.container{
	display: flex;
	justify-content: space-around;
	color: #FFFFFF;
}

.logo-rodape{
	width: 150px;
}

.frase{
	
}

.datacenter{
	font-weight: bold;
	font-size: 20px;
}

.serviços{
	font-weight: bold;
	font-size: 20px;

}


.nosso-end{
	font-weight: bold;
	font-size: 20px;
}

.copyright {
	margin: 30px 0 ;
	text-align: center;
	color: #FFFFFF;
}